body {
    background: #7cf8f4;
}
.dice-number-container{
    width:100%;
    margin:auto;
    text-align:center;
    padding-top: 50px;
}
.dice-number-container .number-of-dice {
    margin: 55px;
    color: #cb94e2;
    font-size: 2em;
    font-weight: bold;
}
.dice-number-container button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #cb94e2;
    background: lavender;
    border: 2px solid #cb94e2;
    font-size: 1.5em;
    font-weight: bold;
}
.dice-container{
    display: flex;
    align-items: center;
    height: 70vh;
    width: 75vw;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap:wrap;
}
.dice {
    border: 5px solid lavender;
    border-radius: 10px;
    min-width: 100px;
    max-width: 100px;
    width: 100%; 
    height: 100px;
    background: #cb94e2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 5px 10px;
}

.dot {
    height: 15px;
    width: 15px;
    background: #f7aad6;
    margin: 6px;
    border-radius: 50%;
    position: relative;
}
.roll{
    border: 5px solid #cb94e2;
    text-align: center;
    width: 200px;
    background: lavender;
    color: #cb94e2;
    border-radius: 10px;
    font-weight: bold;
    line-height: 2em;
    font-size: 1.25em;
}
.button-container{
    text-align:center;
}
.dot.\32:first-child,
.dot.\33:first-child{
    left: 25px;
}
.dot.\32:last-child,
.dot.\33:last-child{
    right:25px;
}
.dot.\34{
    margin:15px;
}
.dot.\35:nth-child(1) {
    
}
.dot.\35:nth-child(2) {
    left: 25px;
}
.dot.\35:nth-child(3) {
    
}
.dot.\35:nth-child(4) {
    top: -14px;
}
.dot.\35:nth-child(5) {
    top: 14px;
}
